/*
 * SPDX-License-Identifier: Apache-2.0
 * This file has been modified for the WebMavryk fork of Taquito by Mavryk Dynamics (2025).
 * Original project: Taquito by ECAD Labs Inc.
*/

.admonition-heading {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
}
.admonition-content > * {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  padding-left: 2rem;
}
.admonition-caution {
  background: rgba(206, 85, 1, 0.1);
  border-radius: 0px 50px 50px 0px;
  border-color: #ce5501;
  .admonition-heading {
    color: #ce5501;
  }
  .admonition-content > * {
    color: #ce5501;
  }
  svg {
    path {
      fill: #ce5501;
    }
  }
}
.admonition-note {
  background: rgba(59, 130, 246, 0.1);
  border-radius: 0px 50px 50px 0px;
  border-color: #262626;
  .admonition-icon {
    svg {
      path {
        fill: #4169E1;
      }
    }
  }
  .admonition-heading {
    color: #4169E1;
  }
  .admonition-content > * {
    color: #4169E1;
  }
}

.admonition-info {
  background: rgba(59, 130, 246, 0.1);
  border-radius: 0px 50px 50px 0px;
  border-color: #262626;
  .admonition-icon {
    svg {
      path {
        fill: #4169E1;
      }
    }
  }
  .admonition-heading {
    color: #4169E1;
  }
  .admonition-content > * {
    color: #4169E1;
  }
}
