/*
 * SPDX-License-Identifier: Apache-2.0
 * This file has been modified for the WebMavryk fork of Taquito by Mavryk Dynamics (2025).
 * Original project: Taquito by ECAD Labs Inc.
*/

pre {
  border-radius: 4px !important;

  .token-line {
    color: var(--ifm-color-text-primary) !important;

    .keyword {
      color: var(--blue-primary) !important;
    }

    .punctuation {
      color: var(--ifm-color-text-primary) !important;
    }

    .function {
      color: var(--blue-primary) !important;
    }

    .string {
      color: var(--blue-primary) !important;
    }

    .boolean {
      color: var(--blue-primary) !important;
    }

    .operator {
      color: var(--red) !important;
    }
    .builtins {
      color: var(--red) !important;
    }
  }
}

.playgroundEditorWrapper {
  border-radius: 4px !important;
}

